.find {
    background-color: $dark;
    background-image: url("../../../../public/images/find-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
}
.find__content {
    margin-bottom: 5rem;
    @media(max-width: 700px) {
        text-align: center;
    }
}

.find__container {
    padding: 10% 20%; /* Используйте проценты для адаптивного заполнения */
    @media (max-width: 700px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.find__content-title {
    width: 60%; /* Используйте проценты для адаптивной ширины */
    line-height: 120%;
    @media(max-width: 700px) {
        width: 100%;
    }
}

.find__content-title, .find__content-text {
    word-wrap: break-word; /* Разрешить автоматический перенос слов */
    @media(max-width: 700px) {
        word-wrap: normal;
    }
}

.find__content-text {
    max-width: 50%; /* Используйте проценты для адаптивной ширины */
    line-height: 136%;
    color: $dark-purple;
    @media(max-width: 700px) {
        max-width: 100%;
    }
}

//.find__container {
//    padding: 10rem 45rem;
//}

//.find__content-title {
//    max-width: 52.8rem;
//    line-height: 120%;
//}

//.find__content-text {
//    max-width: 47.1rem;
//    line-height: 136%;
//    color: $dark-purple;
//}

.find__authorization {
    background-color: $blue;
    padding: 2.5rem 3rem;
    border-radius: 3rem;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid transparent;
    transition: all 0.3s ease-out;
    &:hover {
        background-color: darken($blue, 10%);
        border: 1px solid $white;
    }
}
