.regions {
    background-color: $dark;
    padding: 4rem 0 10rem;
}

.regions__title {
    text-transform: uppercase;
    color: $white;
    text-align: center;
    letter-spacing: 2rem;
    font-size: 2.2rem;
    margin-bottom: 10rem;
}

.regions__slide {
    position: relative;
}

.regions__slide::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.regions__slide-overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.regions__slider-wrapper {
    display: flex;
}

.regions__slide-image img {
    width: 31rem;
    height: 38.3rem;
}
