.goods__container {
    padding: 10rem 0;
}

.goods__items {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 4rem;
    column-gap: 4rem;
    flex-wrap: wrap;
}

.goods__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: $dark-gray;
    border-radius: 5rem;
    padding: 3rem 2.5rem;
    flex-direction: column;
}

.goods__item-info {
    display: flex;
    align-items: flex-start;
    column-gap: 1.5rem;
    justify-content: flex-start;
    p {
        font-size: 1.6rem;
        color: $gray;
    }
}

.goods__item-title {
    max-width: 30rem;
    font-size: 2rem;
    color: $white;
    font-weight: bold;
}
.goods__cost {
    display: flex;
    justify-content: center;
    column-gap: 10rem;
    align-items: center;
}

.goods__cost p {
    font-size: 1.6rem;
    color: $gray; /* Если $gray это переменная SASS, убедитесь, что она определена */
}

.goods__cost-text {
    font-size: 1.9rem;
    color: $white;
    background-color: $gray;
    padding: 1.8rem;
    border-radius: 1rem;
    font-weight: bold;
}

.goods__filter {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3rem;
    margin-bottom: 5rem;
}

.goods__filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-gray;
    padding: 2rem;
    column-gap: 3rem;
}

.goods__filter-select {
    background-color: $dark-gray;
    color: $gray;
    border: none;
    outline: none;
    option {
        border: none;
        outline: none;
    }
}

.goods__filter-separator {
    width: 0.5rem;
    background-color: $blue;
    height: 100%;
}

.goods__filter-button {
    background-color: $blue;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.3rem;
    padding: 1.5rem 2.2rem;
    color: $white;
    text-align: center;
    border-radius: 0.6rem;
    transition: background-color 0.3s ease-out;
    &:hover {
        background-color: darken($blue, 15%);
    }
}

.slash {
    margin: 0 10px; /* Расстояние между разделителем и select */
    color: $blue; /* Цвет разделителя */
}

.goods_item-start {
    margin-bottom: 1rem;
}

.goods_item-start.active {
    fill: $blue;
    path {
        stroke: none;
    }
}
